<div class="container-md" style="height: 50vh;">
    <div class="d-grid" id="getting-started-1">
        <div class="row">
            <div class="d-flex flex-column align-items-center">
                <p class="fs-2 fw-regular">
                    Getting Started
                </p>
                <p class="fs-6 fw-lighter text-center">
                    Select the qualification you are doing.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="d-md-none d-flex justify-content-center">
                <div class="border border-secondary border-1 w-50"></div>
            </div>
        </div>
        <div class="row mt-3">
            <multiselect ref="ms" :search-field-id="'multiselect-searchfield'" :dropdown-id="'dropdown-items'"
            :items="qualificationItems" :checkbox-type="'checkbox'" :limit="1" :return-type="'none'"
                :action="'qualification-selection'" @open-dropdown="updateOpenDropdown"
                :is-dropdown-open="isDropdownOpen"></multiselect>
            <div style="height: 25vh;"></div>
        </div>
    </div>
</div>