{% extends "base.html" %}

{% block title %}
    | My Attendance
{% endblock %}

{% block content %}
<div class="container-lg px-4">
    <div class="container-lg px-4">
        <div class="d-flex justify-content-center">
            <h1 style="text-align: center;">Attendance History</h1>
            <hr style="border: 2px solid black; width: 180px; margin-top: 10px; margin-bottom: 20px;">
        </div>    
    <div style="margin-bottom: 20px;"></div> <!-- Add space -->
    <h2>Recent Attendance</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Module</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>27/08/2023</td>
                <td>10:00</td>
                <td>SFEN</td>
                <td>Present</td>
            </tr>
            <tr>
                <td>26/08/2023</td>
                <td>09:00</td>
                <td>PJRB</td>
                <td>Absent</td>
            </tr>
            <tr>
                <td>25/08/2023</td>
                <td>11:00</td>
                <td>PRJB</td>
                <td>Cancelled</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}