{% extends "base.html" %}

{% block title %}{% endblock %}
{% import "macros/__navbar__.html" as nav %}

{% block content %}
{% if current_user.is_authenticated %}

    {% include "components/navbar/student-navbar.html" %}
    {%else %}
    {% include "components/navbar/no-auth-navbar.html" %}
{% endif %}
    

<div class="container-lg px-4 h-100">
    <div class="d-flex flex-column gap-5">
        <div class="d-flex flex-column align-items-center mt-5">
            <div class="row">
                <p class="fs-2 fw-bold text-center">
                    Attendance made easy!
                </p>
            </div>
            <div class="row">
                <p class="fw-lighter text-center">Log attendance for modules you have registered for within the Durban University of Technology.</p>
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-center">
                <button role="button" class="btn bg-secondary text-light" style="width: 50vh;">
                    Log your attendance!
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}