{% macro self(data, datetime , expired=0) -%}
{% if data %}
<table class="table table-striped ">
    <thead>
        <tr>
            <th scope="col">Expiration Date</th>
            <th scope="col">Expiration Time</th>
            <th scope="col">Module</th>
            <th scope="col">Session</th>
            {% if expired==0 %}
            <th scope="col">QR code</th>
            {% endif %}
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for item in data %}
        <tr>
            <th scope="row">{{ item.expiration_date }}</th>
            <td>{{ item.expiration_time }}</td>
            <td>{{ item.module_name }}</td>
            <td>{{ item.session }}</td>
            {% if not datetime.fromisoformat(item.expiration_date) > datetime.now() %}
            <td>{{ item.qr_url }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="d-flex flex column align-items-center h-100">
    <div class="container d-flex justify-content-center ">
        <p class="fs-3 fw-medium text-secondary">
            No items.
        </p>
    </div>
</div>
{% endif %}
{%- endmacro %}