{% macro self(data=[]) -%}
{% if data %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Module Code</th>
            <th scope="col">Module Name</th>
            <th scope="col">Sessions</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for item in data %}
        <tr>
            <th scope="row">{{ item.code }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.sessions }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="d-flex flex column align-items-center h-100">
    <div class="container d-flex justify-content-center ">
        <p class="fs-3 fw-medium text-secondary">
            No items.
        </p>
    </div>
</div>
{% endif %}
{%- endmacro %}