{% extends "base.html" %}

{% block title %}
| Generate QR
{% endblock %}

{% block style %}
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
{% endblock %}

{% block content %}
<div class="toast-container p-3 bottom-0 end-0" id="toast-area"></div>
<div class="container-lg">
    <div id="alert-section"></div>
    <div class="d-flex flex-row">
        <a href="/lecturer/" role="button" class="btn bg-transparent rounded border border-0">
            <span class="material-symbols-outlined">
                arrow_back_ios_new
            </span>
        </a>
        <div class="col d-block pe-3 me-3">
            <p class="fs-3 fw-medium mb-0 text-center">
                Generate QR
            </p>
            <div class="d-md-none d-flex justify-content-center w-100">
                <div class="border border-secondary border-1 w-50"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-2">
        <div class="row">
            <p class="fs-5 fw-lighter">Module</p>
            <multiselect ref="ms" :search-field-id="'multiselect-searchfield'" :dropdown-id="'dropdown-items'"
                :items="moduleItems" :checkbox-type="'checkbox'" :limit="1" :return-type="'module-selection'"
                :action="'module-filter'" @selected-module="updateSelectedModule" @open-dropdown="updateOpenDropdown"
                :is-dropdown-open="isDropdownOpen"></multiselect>
        </div>
        <div class="row">
            <p class="fs-5 fw-lighter mb-0">Session</p>
            <sessionpicker ref="sp" :module="selectedModule"></sessionpicker>
        </div>
        <div class="row mb-3">
            <p class="fs-5 fw-lighter">Expires</p>
            <numberpicker ref="np"></numberpicker>
        </div>
        <div class="row">
            <div class="d-flex justify-content-center">
                <button id="generateQRbtn" type="button" class="btn btn-secondary w-75">
                    Generate
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<template id="numberpicker-template">
    <div class="d-flex flex-column">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex flex-row flex-nowrap justify-content-center mb-3">
                    <button role="button" class="btn border rounded-circle" style="width: 48px; height: 48px;"
                        @click="decrement">
                        -
                    </button>
                    <input id="expiration-value" type="number" :value="value" class="form-control text-center"
                        :max="maxValue" min="1" style="width: 48px; height: 48px;" @input="updateValue" />
                    <button role="button" class="btn border rounded-circle" style="width: 48px; height: 48px;"
                        @click="increment">
                        +
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <select class="form-select" aria-label="Duration" v-model="selectedDuration" @change="resetValue">
                    <option value="min">minute(s)</option>
                    <option value="hr">hour(s)</option>
                    <option value="day">day(s)</option>
                </select>
            </div>
        </div>
    </div>
</template>

<template id="session-template">
    <div class="d-flex flex-column gap-3">
        <div class="row">
            <div class="col-md-6">
                <label for="dayDropdown" class="form-label fw-lighter">Day</label>
                <select class="form-select" id="dayDropdown" v-model="selectedDay">
                    <option value="Select a day">Select a day</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="timeDropdown" class="form-label fw-lighter">Timeslot</label>
                <select class="form-select" id="timeDropdown" v-model="selectedTime"
                    :disabled="timeOptions.length === 0">
                    <option v-for="option in timeOptions" :key="option.value" :value="option.value">{{'{{ option.label
                        }}'}}</option>
                </select>
            </div>
        </div>
    </div>
</template>

<script src="/static/custom.js" type="text/javascript"></script>
<script>
    const multiselectComponent = app._instance.refs.ms;
    const timeslotComponent = app._instance.refs.sp;
    const durationComponent = app._instance.refs.np;
    window.$dev = { multiselectComponent, timeslotComponent, durationComponent };
    const alertSection = document.getElementById("alert-section");

    const appendAlert = (message, type) => {
        const wrapper = document.querySelector("div#toast-area");
        wrapper.innerHTML = [
            `<div class="toast align-items-center bg-${type} text-white position-relative border-0"
                role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        ${message}
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>`
        ].join('');
    }

    function calcExpirationDate(value, selectedDuration, utcOffset) {
        const expirationDate = new Date();

        if (!value) return;
        if (!selectedDuration) return;

        switch (selectedDuration) {
            case "min":
                expirationDate.setMinutes(expirationDate.getMinutes() + value);
                break;
            case "hr":
                expirationDate.setHours(expirationDate.getHours() + value);
                break;
            case "day":
                expirationDate.setDate(expirationDate.getDate() + value);
                break;
        }

        // return with offset of +2 utc
        expirationDate.setHours(expirationDate.getHours() + utcOffset);

        const str_expirationDate = expirationDate.toISOString();
        return str_expirationDate.slice(0, str_expirationDate.length - 1);
    }

    const generateQRbtn = document.getElementById("generateQRbtn");

    generateQRbtn.addEventListener('click', async () => {
        const module_code = multiselectComponent.currentTags[0];
        const timeslot_id = timeslotComponent.selectedTime;
        const expiration_date = calcExpirationDate(durationComponent.value, durationComponent.selectedDuration, 2);

        if (module_code && timeslot_id && expiration_date) {
            const formattedData = {
                module_code,
                timeslot_id,
                expiration_date
            };
            console.log(formattedData)

            const res = await fetch('/api/v1/qr/generate', {
                mode: 'cors',
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formattedData)
            }).then(result => result.json());

            if (res.success === 1) {
                window.location.assign(`./share?img=${btoa(encodeURIComponent(res.img).replace(/%([0-9A-F]{2})/g, function (match, p1) { return String.fromCharCode('0x' + p1); }))}`)
            } else if (res.success === 0) {
                appendAlert('Something went wrong. Try again later.', 'danger');
            }

        } else {
            appendAlert('Please fill in all the fields.', 'warning');
        }
        const toastItem = document.querySelector("div.toast");
        if (toastItem) {
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastItem);
            toastBootstrap.show()
        }
    });

</script>
{% endblock %}