{% extends "base.html" %}

{% block title %}
| Generate QR
{% endblock %}

{% block content %}
<div class="container-lg">
    <div class="d-flex flex-row">
        <a href="/lecturer/" role="button" class="btn bg-transparent rounded border border-0">
            <span class="material-symbols-outlined">
                arrow_back_ios_new
            </span>
        </a>
        <div class="col d-block pe-3 me-3">
            <p class="fs-3 fw-medium mb-0 text-center">
                Generate QR
            </p>
            <div class="d-md-none d-flex justify-content-center w-100">
                <div class="border border-secondary border-1 w-50"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-2">
        <div class="row">
            <p class="fs-5 fw-lighter">Module</p>
            <multiselect :search-field-id="'multiselect-searchfield'" :dropdown-id="'dropdown-items'"
                :items="moduleItems" :checkbox-type="'checkbox'" :limit="1" :return-type="'module-selection'"
                :action="'module-filter'"></multiselect>
        </div>
        <div class="row">
            <p class="fs-5 fw-lighter">Session</p>
            <div class="input-group mb-3">
                <select class="form-select" aria-label="Sessions">
                    <option value="09:00 AM">09:00 AM</option>
                    <option value="08:00 AM">08:00 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="12:00 AM">12:00 AM</option>
                    <option value="01:00 PM">01:00 PM</option>
                    <option value="02:00 PM">02:00 PM</option>
                    <option value="03:00 PM">03:00 PM</option>
                    <option value="04:00 PM">04:00 PM</option>
                    <option value="05:00 PM">05:00 PM</option>
                </select>
            </div>
        </div>
        <div class="row">
            <p class="fs-5 fw-lighter">Expire at (HH:MM)</p>
            <div class="input-group mb-3">
                <div class="input-group mb-3">
                    <select class="form-select" aria-label="Hours">
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <span class="input-group-text">:</span>
                    <select class="form-select" aria-label="Minutes">
                        <option value="00">00</option>
                        <option value="05">05</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="30">30</option>
                        <option value="35">35</option>
                        <option value="40">40</option>
                        <option value="45">45</option>
                        <option value="50">50</option>
                        <option value="55">55</option>
                    </select>
                    <span class="input-group-text"></span>
                    <select class="form-select" aria-label="AM/PM">
                        <option value="AM">AM</option>
                        <option value="PM">PM</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-center">
                <a href="generated" type="button" class="btn btn-secondary w-75">
                    Generate
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}