<ul class="list-group list-group-horizontal gap-3">
    <!-- clicking any of these buttons will remove the item from the selected items list-->
    {% for tag in tags %}
    <li class="list-group-item border border-0 px-0">
        <button 
            type="button" 
            class="btn btn-outline-secondary d-flex justify-content-center rounded-pill gap-2" 
            onclick="handleDropdownItemClick('{{ tag }}',{{ limit }})">
                {{ tag }}
                <span class="material-symbols-outlined">
                    close
                </span>
        </button>
    </li>
    {% endfor %}
</ul>