{% from "security/_macros.html" import render_field_with_errors, render_field, render_form_errors %}
<form action="{{ url_for('api_routes.student_sign_up') }}" method="post" name="register_user_form"
class="container mx-auto px-3 ">
{{ register_user_form.csrf_token}}
{{ render_form_errors(register_user_form) }}

{{ render_field_with_errors(register_user_form.email, class="form-control col-lg-4 col-md-4 col-sm-8 ",
placeholder="Email") }}
{{ render_field_with_errors(register_user_form.student_number, class="form-control col-lg-4 col-sm-8 ",
placeholder="Student Number") }}

{{ render_field_with_errors(register_user_form.password, class="form-control col-lg-4 col-sm-8 ",
placeholder="Password") }}
{% if register_user_form.password_confirm %}
{{ render_field_with_errors(register_user_form.password_confirm, class="form-control col-lg-4 col-sm-8
", placeholder="Confirm Password") }}
{% endif %}
{{ render_field(register_user_form.submit, class = "button mt-3 register-button")
}}
</form>
